body{
    margin: 0em;
}
div{
    margin: 0em;
    padding: 100px 100px 400px;
}
h1{
    color:#fa7d09 ;
    position: relative;
    top: 12rem;
    left: 3rem;
    display: inline-block;
    text-align: center;
    padding-left: 50px;
    font-family: 'Sora', sans-serif;
    font-size: 2.5rem;
    line-height: 2;
}
h2{
   
    padding-left: 0em;
    display: inline-block;
    width: 30%;
    text-align: left;
    font-family: 'Roboto Slab', serif;
    font-size: 2.5rem;
    color: #fa7d09;
}

/* *********************************First section**************************** */
.FirstDiv{
    padding: 0em;
    margin: 0em;
    font-family: 'Roboto Slab', serif;;
    width: 100%;
    
    background-image: linear-gradient(45deg,#4a3f35, #4a3f35 50%, #fa7d09 50%, #fa7d09 );
}
.row{
    text-align: center;
    padding: 0em;
    margin: 0em;
}
#image{
    /* position: absolute;
    top: 20%;
    right: 20%; */
    font-size: 15rem;
   
    
}

/* *********************************Second section**************************** */
.SecondDiv{
    text-align: center;
    background-color: #f4ea8e;
    padding-bottom: 100px;
}


.paraOne{
    font-family: 'Sora', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    text-align: left;
}

/* *********************************Third section**************************** */
.ThirdDiv{
    background-color: #4a3f35;
    height: fit-content;
    padding: 100px;
    text-align: center;
}
.ThirdDiv img{
    padding: 50px;
    
    height: 300px;
    width: 600px;
}
.heading2{
    display: inline-block;
    text-align: center;
    width: 100%;
    padding:0px;
}

/* ********************fONTS**************************** */

@media (max-width:900px){
    .FirstDiv{
        background-image: linear-gradient(30deg, #fa7d09 50%, #4a3f35 50% );
        padding-top: 2rem;
    }
    .row{
        text-align: center;
        padding: 0em;
        margin: 0em;
     }
     .col-lg-6{
         padding: 0em;
         margin: 0em;
     }

    h1{
        font-size: 2rem;
        text-align: center;
        position: relative;
        top: 1rem;
        left: 1rem;
        width: 70%;
        padding:0;
    }
    #image{
        padding-top: 20%;
        text-align: initial;
    }
    /* ***** */
    h2{
        padding-top: 0em;
        padding-left: 0em;
        display: inline-block;
        width: 100%;
        font-size: 2rem;
        text-align: center;
  
    }
    .SecondDiv{
        padding:50px;
        height: fit-content;
        width: fit-content;
    }
    
    
    .paraOne{
        font-family: 'Sora', sans-serif;
        font-weight: 300;
        font-size: 1rem;
        text-align: left;
    }
    /* ******** */
    .ThirdDiv{
        background-color: #4a3f35;
        height: fit-content;
        padding: 50px;
    }

    .heading2{
        text-align: center;
        position: relative;
        bottom: 2rem;
        padding:0;
    }
    .ThirdDiv img{
        text-align: left;
        height: 100px;
        width: 200px;
        padding: 0;
    }

}
/* font-family: 'Roboto Slab', serif;
font-family: 'Sora', sans-serif; */