body{
    margin: 0em;
}
div{
    margin: 0em;
    padding: 200px;
}
h1{
    color:#fa7d09 ;

}
.fab{
    color: #fa7d09;
    font-size: 8rem;
}
h2{
   
    padding-left: 0em;
    display: inline-block;
    width: 50%;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 2.5rem;
    color: #fa7d09;
}

button{
    background-image: linear-gradient(#fa7d09,#ff9a3b);
    border: solid #fa7d09 1.5px;
    text-align: center;
    display: inline-block;
    font-size: 1rem;
    border-radius:10%;
    font-family: 'Sora', sans-serif;
}
button:hover{
    background-image: linear-gradient(#ff9a3b,#fcb97c);
}

/* *********************************First section**************************** */
.FirstDiv{
    padding: 0em;
    margin: 0em;
    font-family: 'Roboto Slab', serif;;
    width: 100%;
    
    background-color: #4a3f35;
}
.row{
    text-align: center;
    padding: 0em;
    margin: 0em;
}


/* *********************************Second section**************************** */
.SecondDiv{
    text-align: center;
    background-color: #f4ea8e;
    padding: 50px;
}


.paraOne{
    font-family: 'Sora', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    text-align: left;
}

/* *********************************Third section**************************** */
.ThirdDiv{
    background-color: #4a3f35;
    height: fit-content;
    padding: 100px;
    text-align: center;
}
.anatomyImg1{
    padding: 50px;
    height: 300px;
    width: 50%;
    margin: 0 auto 0 auto;
}

.heading2{
    display: inline-block;
    text-align: center;
    width: 100%;
    padding:0px;
}
.anatomy1{
    text-align: center;
    width: 100%;
    padding: 2%;
    margin: 3% 0;
    background: #F8FFB4 0% 0% no-repeat padding-box;
    border: 5px solid #ff9a3b;
    border-radius: 30px;
    opacity: 1;
}
.anatomy1 h4{
    padding: 0 2%;
    color: #000000;
    display: inline;}


table{
    margin-top: 3%;
    width: 100%;
    border: solid rgb(129, 147, 173) 1.5px;
    
}
table img{
    width: 200px;
    height: 150px;
}

th, td{
    border: solid rgb(129, 147, 173) 1px;
}

/* ********************fONTS**************************** */

@media (max-width:900px){
    .FirstDiv{
        text-align: center;
        padding-top: 2rem;
    }
    .row{
        text-align: center;
        padding: 0em;
        margin: 0em;
     }
     .col-lg-6{
         padding: 0em;
         margin: 0em;
     }

    h1{
        font-size: 2rem;
        text-align: center;
        position: relative;
        top: 1rem;
        left: 1rem;
        width: 70%;
        padding:0;
    }
    button{
        width: 15% ;
        line-height: 1;
        font-size: 0.5rem;
    }
   .responsive-width{
       font-size: 3vw;
   }
    /* ***** */
    h2{
        padding-top: 0em;
        padding-left: 0em;
        display: inline-block;
        width: 100%;
        text-align: center;
  
    }
    .SecondDiv{
        padding:50px;
        height: fit-content;
        width: fit-content;
    }
    
    
    .paraOne{
        font-family: 'Sora', sans-serif;
        font-weight: 300;
        font-size: 1rem;
        text-align: left;
    }
    /* ******** */
    .ThirdDiv{
        background-color: #4a3f35;
        height: fit-content;
        padding: 50px;
    }

    .heading2{
        text-align: center;
        position: relative;
        bottom: 2rem;
        padding:0;
    }
    .ThirdDiv img{
        text-align: left;
        height: 100px;
        width: 200px;
        padding: 0;
    }
    .anatomy1{
        margin-top: 5%;
        
    }
  
    .anatomy1 img{
        width:250px;
        height: 90px;
        
    } 
    
    .anatomy1 h4{
        text-align: left;
    }
    h4,h2{
        font-size: 1rem;
    }
    h1{
        font-size: 1.2rem;
        margin: 0% auto;
    }
    .fab{
        padding: 5% 0 ;
        font-size: 4rem;
    }
  
    table{
        font-size: 0.8rem;
        margin: 0% auto;
    }
  
    .element img{
        width: 50px;
        height: 40px;
    }
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid rgb(85, 84, 84);
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: center;
    }
   
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
	
	
}







/* font-family: 'Roboto Slab', serif;
font-family: 'Sora', sans-serif; */